[submodule ".devkit/contracts"]
	path = .devkit/contracts
	url = https://github.com/Layr-Labs/hourglass-contracts-template
	branch = master
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
